* {
  padding: 0;
  margin: 0;
}

body {
  background: grey;
}
main {
  background: white;
  margin: auto;
  border: 3px, royalblue, solid;
}

button {
  background-color: royalblue;
  color: grey;
  margin: auto;
  width: 30%;
}
